			<div id="navigation">
				<ul>
						<li <%- (menu === 'main')?'class="selected"':''%>><a href="/admin/">메인페이지 관리</a></li>
						<li <%- (menu === 'guestbook')?'class="selected"':''%>><a href="/admin/guestbook">방명록 관리</a></li>
						<li <%- (menu === 'board')?'class="selected"':''%>><a href="/admin/board">게시판 관리</a></li>
						<li <%- (menu === 'user')?'class="selected"':''%>><a href="/admin/user">사용자 관리</a></li>
				</ul>
			</div>
			<div id="nav_bar">&nbsp;</div>