<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello Web</title>
</head>
<body>
    <h1>join</h1>
    <form method="post" action="">
        <label for="" >이름</label>
        <input name="name" type="text"/>
        <br>

        <label for="" >이메일</label>
        <input name="email" type="text"/>
        <br>

        <label for="" >비밀번호</label>
        <input name="password" type="password"/>
        <br>
        <input type="submit" value="가입" />

    </form>
</body>
</html>